.card-title {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
}

.attribute {
  font-weight: 550;
}

.employerName {
  cursor: pointer;
}
.employerName:hover {
  color: var(--primary-color);
}
