<mat-card fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
    <mat-card-title class="card-title">{{jobValue.jobName}}</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <div>
            <span class="attribute">Employer:</span> {{jobValue.employerName}}
        </div>
        <div>
            <span class="attribute">Date:</span> {{jobValue.date}}
        </div>
        <!-- <div>
            <span class="attribute">Description:</span> {{jobValue.jobDescription}}
        </div> -->
    </mat-card-content>
</mat-card>