.resend-invitation-card {
  margin-top: 11vh;
}

.sign-up-label {
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.sign-up-label:hover {
  color: var(--primary-color);
}

.enter-email-label {
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: primary;
}

#forgot-password-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.invalid-credentials-label {
  margin-top: 10px;
}

@media (min-width: 1080px) {
  .login-card {
    margin-top: 14.5vh;
  }
}
