<form [formGroup]="resetPasswordForm" fxLayout="column" fxLayoutAlign="start center">

    <mat-card class="reset-password-card">

        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title> Reset Password </mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly left">
            <a class="enter-new-password-label" fxLayout="row" fxLayoutAlign="space-around center">Please enter your new password</a>

            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'password'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="resetPasswordForm.get('password').errors?.required">You must complete this field</mat-error>
                <mat-error *ngIf="resetPasswordForm.get('password').errors?.minlength">Must be at least 6 characters long
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'confirmPassword'" required>
                <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors?.required">
                    You must complete this field </mat-error>
                <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors?.mustMatch">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
        
            <button id="forgot-password-button" (click)="onSubmit()" mat-raised-button color="primary">Reset Password</button>
           
        </mat-card-content>

    </mat-card>

</form>