.reset-password-card {
  margin-top: 7.5vh;
}
.enter-new-password-label{
    margin-bottom: 10px;
}
#forgot-password-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.invalid-credentials-label {
  margin-top: 10px;
}

@media (min-width: 1080px) {
  .resend-invitation-card {
    margin-top: 14.5vh;
  }
}
