<div fxLayout="column" fxLayoutAlign="space-evenly">
  <div class="job-dialog" fxLayout="column" fxLayoutAlign="space-between start">
    <h1 mat-dialog-title> {{data.jobName}}</h1>
    <mat-card-subtitle>{{data.employerName}}</mat-card-subtitle>
    <div mat-dialog-content class="job-description"> {{data.jobDescription}}</div>

    <div>
      <p class="job-salary">Salary:<B> {{data.hourSalaryAmount}} $ </B></p>
    </div>
    <div class="applicants">
      <a>Applicants: {{applicants.length}}</a>
    </div>

  <div class="apply-form" fxLayout="row" fxLayoutAlign="space-evenly center" >
    <form [formGroup]="applyForm" class="apply-form-form" >
      <mat-form-field class="hours-field" appearance="outline">
        <mat-label>Hours</mat-label>
        <input matInput placeholder="hours" [formControlName]="'hours'" required>
        <mat-error *ngIf="applyForm.get('hours').errors?.required"> You must complete this field
        </mat-error>
      </mat-form-field>
      <mat-form-field class="price-field" appearance="outline">
        <mat-label>My price</mat-label>
        <input matInput placeholder="my price" [formControlName]="'myPrice'">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="openRenegotiation()">Apply</button>
    </form> 
  </div>
  </div>
</div>