<div fxLayout="column" fxLayoutAlign="space-evenly">
  <div class="job-dialog" fxLayout="column" fxLayoutAlign="space-between start">

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%">
      <mat-card-title class="title" mat-dialog-title> {{data.jobName}}</mat-card-title>
      <button mat-icon-button color="accent" mat-dialog-close aria-label="Example icon button with a close icon">
        <mat-icon>close</mat-icon>
      </button>
    </mat-dialog-actions>
    <div class="employer-div" fxLayout="row" fxLayoutAlign="start end">
      <mat-card-subtitle class="subtitle-size">Employer:&nbsp; </mat-card-subtitle>
      <mat-card-subtitle class="employerName subtitle-size" (click)="navigateToEmployerProfile()">
        {{data.employerName}}
      </mat-card-subtitle>
    </div>
    <div mat-dialog-content class="job-description"><span style="font-weight: 550;">Description:</span>
      {{data.jobDescription}}</div>
    <div>
      <p class="job-salary"><span style="font-weight: 550;">Salary:</span> {{data.hourSalaryAmount}} $ </p>
    </div>

    <form [formGroup]="applyForm" class="apply-form-form" class="apply-form" fxFlexFill fxLayout="column"
      fxLayoutAlign="space-evenly stretch" *ngIf="!isEmployer">
      <div fxFlexFill>

        <mat-form-field class="hours-field" appearance="outline">
          <mat-label>Hours</mat-label>
          <input matInput placeholder="hours" formControlName="hours" required>
          <mat-error *ngIf="applyForm.get('hours').errors?.required"> You must complete this field
          </mat-error>
        </mat-form-field>
        <mat-form-field class="price-field" appearance="outline">
          <mat-label>My price</mat-label>

          <input matInput placeholder="My price" formControlName="myPrice">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field fxFlexFill>
          <textarea #message maxlength="800" name="description" cdkTextareaAutosize cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10" matInput placeholder="Complete this area with your application message"
            formControlName="applyMessage"></textarea>
          <mat-hint align="end">{{message.value.length}} / 800</mat-hint>
        </mat-form-field>

      </div>
      <mat-spinner class="spinner" *ngIf="pushedButton"></mat-spinner>
      <button class="apply" *ngIf="!pushedButton" mat-flat-button color="primary"
        (click)="openRenegotiation()">Apply</button>
    </form>

  </div>

</div>