<form [formGroup]="registerForm" fxLayout="column" fxLayoutAlign="start center">

    <mat-card class="register-card">

        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title> Register </mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly left">

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [formControlName]="'name'" required>
                <mat-error *ngIf="registerForm.get('name').errors?.required"> You must complete this field
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="name@example.com" [formControlName]="'email'" required>
                <mat-error *ngIf="registerForm.get('email').errors?.required">You must complete this field</mat-error>
                <mat-error *ngIf="registerForm.get('email').errors?.email">E-mail address already used</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'password'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="registerForm.get('password').errors?.required">You must complete this field</mat-error>
                <mat-error *ngIf="registerForm.get('password').errors?.minlength">Must be at least 6 characters long
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'confirmPassword'" required>
                <mat-error *ngIf="registerForm.get('confirmPassword').errors?.required">
                    You must complete this field </mat-error>
                <mat-error *ngIf="passwordsDontMatch">
                    Passwords do not match
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>User Type</mat-label>
                <mat-select [formControlName]="'userType'">
                    <mat-option value="employer">Employer</mat-option>
                    <mat-option value="freelancer">Freelancer</mat-option>
                </mat-select>
            </mat-form-field>
            
            <button (click)="onSubmit()" id="register-button" mat-raised-button color="primary">Register</button>
            
            <mat-error class="email-used" *ngIf="usedEmail" fxLayout="row" fxLayoutAlign="space-around center">
                Email address already used 
            </mat-error>
            
            <a class="login-label" [routerLink]="['/login']" fxLayout="row" fxLayoutAlign="space-around center">Already registered? Log in</a>

        </mat-card-content>

    </mat-card>

</form>