.register-card {
  margin-top: 3%;
}

.login-label {
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.login-label:hover {
  color: var(--primary-color);
}

#register-button {
  margin-top: 10px;
}

.email-used {
  margin-top: 10px;
}

@media (min-width: 1440px) {
  .register-card {
    margin-top: 10%;
  }
}
