<form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="start center">

    <mat-card class="login-card">

        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title> Login </mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly left">

            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="name@example.com" [formControlName]="'email'" required>
                <mat-error *ngIf="loginForm.get('email').errors?.required">You must complete this field</mat-error>
                <mat-error *ngIf="loginForm.get('email').errors?.email">Invalid e-mail address</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'password'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.get('password').errors?.required">You must complete this field</mat-error>
                <mat-error *ngIf="loginForm.get('password').errors?.minlength">Must be at least 6 characters long</mat-error>
            </mat-form-field>
            
            <button id="login-button" (click)="onSubmit()" mat-raised-button color="primary">Login</button>
            
            <mat-error *ngIf="error" class="invalid-credentials-label" fxLayout="row" fxLayoutAlign="space-around center">{{errorMessage}}</mat-error>
            <a class="forgot-password-label" [routerLink]="['/resendInvitation']" fxLayout="row" fxLayoutAlign="space-around center">Forgot your password?</a>

            <a class="sign-up-label" [routerLink]="['/register']" fxLayout="row" fxLayoutAlign="space-around center">New here? Sign up!</a>

        </mat-card-content>

    </mat-card>

</form>