.login-card {
  margin-top: 7.5vh;
}

.sign-up-label {
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.sign-up-label:hover {
  color: var(--primary-color);
}

#login-button {
  margin-top: 10px;
}

.invalid-credentials-label {
  margin-top: 10px;
}

@media (min-width: 1080px) {
  .login-card {
    margin-top: 14.5vh;
  }
}
