.job {
  align-items: flex-start;
}
.job-title {
  margin-bottom: 10px;
}
.job-employer-name {
  margin-top: 10px;
  margin-bottom: 5px;
}
.employerName:hover {
    color: var(--primary-color);
}
.job-salary {
  margin-bottom: 5px;
}
.job-apply-button {
  align-self: flex-end;
  align-content: right;
}
