<mat-card class="job" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3px">
  <mat-card-title class="job-title">
    {{jobValue.jobName}}
  </mat-card-title>
  <div class="job-employer-name">
    <div fxLayout="row" fxLayoutAlign="start end">
      <mat-card-subtitle class="attribute">Employer:&nbsp; </mat-card-subtitle>
      <mat-card-subtitle class="employerName" routerLink="/employerProfile/{{jobValue.employerId}}">
        {{jobValue.employerName}}
      </mat-card-subtitle>
    </div>
  </div>
  <mat-card-content>
    <div class="job-salary"><span style="font-weight: 550;">Salary:</span> {{jobValue.hourSalaryAmount}} $ </div>
    <div class="job-date"><span style="font-weight: 550;">Date of posting:</span> {{jobValue.date}}</div>
  </mat-card-content>
  <mat-card-actions class="job-apply-button">
    <button class="job-button" mat-stroked-button color="primary" (click)="openDialog()">Job details</button>
  </mat-card-actions>
</mat-card>