<mat-card fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3px">
    <mat-card-title class="title">
        {{job.jobName}}
    </mat-card-title>

    <mat-card-content class="content" fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10px"
        fxFlexFill>
        <div>
            <div *ngIf="!acceptedApplication">
                <span class="attribute">Salary:</span> {{job.hourSalaryAmount}} $
            </div>
            <div *ngIf="acceptedApplication">
                <span class="attribute">Salary:</span> {{acceptedApplication.hourSalaryAmount}} $
            </div>
        </div>
        <div>
            <span class="attribute">Date:</span> {{job.date}}
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
            <span class="attribute">Skills:</span>
            <mat-chip-list>
                <mat-chip *ngFor="let skill of job.skills" class="mat-chip-selected">
                    {{skill}}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div>
            <span class="attribute">Description:</span> {{job.jobDescription}}
        </div>
        <div *ngIf="isStatusPending()" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" fxFlexFill>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
                <span class="attribute applic">Applications:</span>
                <div *ngIf="noJobApplications()">
                    No applications pending
                </div>
            </div>
            <mat-accordion *ngIf="job.applications" fxFlexFill>
                <mat-expansion-panel *ngFor="let application of job.applications | statusFilter: 'PENDING'" fxFlexFill>
                    <mat-expansion-panel-header fxLayout="row">
                        <mat-panel-title fxFlex='20'>
                            {{application.freelancerName}}
                        </mat-panel-title>
                        <span fxFlex='30'>
                            Proposed salary/hour: {{application.hourSalaryAmount}} $
                        </span>
                        <span fxFlex='30'>
                            Estimated completion time: {{application.estimatedProjectCompleteTime}}
                        </span>
                    </mat-expansion-panel-header>
                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" fxFlexFill>
                        <div> {{application.message}} </div>
                        <div class="accordion-buttons" fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                                <button mat-stroked-button (click)="onRejectApplicationButtonClick(application.id)"
                                    fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon color="accent" aria-hidden="false" aria-label="Edit Icon">clear</mat-icon>
                                    <span>Reject application</span>
                                </button>

                                <button mat-stroked-button (click)="onAcceptApplicationButtonClick(application.id)"
                                    fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon color="primary" aria-hidden="false" aria-label="Edit Icon">done</mat-icon>
                                    <span>Accept application</span>
                                </button>
                            </div>
                            <button mat-raised-button routerLink="/freelancerProfile/{{application.freelancerId}}"
                                fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-icon color="primary" aria-hidden="false" aria-label="Edit Icon">person</mat-icon>
                                <span>Visit profile</span>
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
        <div *ngIf="acceptedApplication" fxLayout="column" fxLayoutGap="10px">
            <div>
                <span class="attribute">Freelancer: </span>
                <span class="freelancerName"
                    routerLink="/freelancerProfile/{{acceptedApplication.freelancerId}}">{{acceptedApplication.freelancerName}}
                </span>
            </div>
            <div>
                <span class="attribute">Complete time estimation:</span>
                {{acceptedApplication.estimatedProjectCompleteTime}} hours
            </div>

            <div>
                <span class="attribute">Amount to be paid:</span> {{acceptedApplication.estimatedProjectCompleteTime *
                acceptedApplication.hourSalaryAmount}} $
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px"
        *ngIf="isStatusInProgress()">
        <button [disabled]="!isApplicationComplete" class="complete-button" mat-raised-button color="primary"
            (click)="completeJobOffer()">Complete</button>
        <div class="disable-message" *ngIf="!isApplicationComplete">
            Waiting for the freelancer to complete this application
        </div>
    </mat-card-actions>
</mat-card>