.gen-info-div {
  background: url("../../assets/images/fundal1.jpg") repeat-y center;
  background-position: center center;
  min-height: calc(100vh - 113px);
}

.parent-card {
  width: 100vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.job-title{
  margin-left : 20px;
}
.search-bar{
  margin-left : 20px;
}
.job-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

