.gen-info-div {
  background: url("../../assets/images/fundal1.jpg") repeat-y center;
  background-position: center center;
  min-height: calc(100vh - 113px);
}

.parent-card {
  width: 100vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.list-item {
  align-content: stretch;
  padding: 10px;
}

.job-item {
  align-content: stretch;
}
