.homepage{
    display: block;
    background-color: white;
    margin: auto;
    width: 50%;
    height: 100%;
    padding: 10px;
}
.list-item{
    align-content: stretch;
    padding: 10px;
}
.job-item{
   align-content: stretch;
}